body 
{
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

#mainNavbar .nav-link { color: white }
#mainNavbar .nav-link:hover { color: #EA1C2C; }

#mainNavbar 
{
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .navbar-brand 
{
    color: #EA1C2C;
    font-size: 1.5rem;
}

.navbar.scrolled
{
    background: #dec0de;
    transition: background 500ms;
}

#header span { color: #EA1C2C; }

#header h1 
{
    font-weight: 100;
    font-size: 4rem;
}

@media (max-width: 1200px) {
    #header h1 
    {
        font-weight: 100;
        font-size: 3rem;
    }
}